<%- include('partials/header') %>
<%- include('partials/navbar') %>
<div class="container">
    <%- include('partials/search') %>
    <%- include('partials/drawer') %>
    <%- include('partials/hero') %>
    <%- include('partials/categories') %>
</div>
<%- include('partials/footer') %>